@use "../global" as g;
//コンテンツ幅
.ly_container {
  width: 1200px;
  margin: 0 auto;
}
.ly_small-container {
  width: 1080px;
  margin: 0 auto;
}
.ly_wide-container {
  width: 1780px;
  margin: 0 auto;
}
