//-------------------------------
// レスポンシブ定義
//-------------------------------
$xxl: 1400px; //ウルトラワイドモニター
$xl: 1200px; // PC
$lg: 960px; // タブレット
$md: 600px; //ワイドスマホ
$sm: 480px; // スマホ
$xs: 375px; // スマホ
$xxs: 320px; // スマホ

//ウルトラワイドモニター
@mixin xxl {
  @media only screen and (max-width: ($xxl)) {
    @content;
  }
}
//1200px以下のPC及びタブレット
@mixin xl {
  @media only screen and (max-width: ($xl)) {
    @content;
  }
}
//タブレット
@mixin lg {
  @media only screen and (max-width: ($lg)) {
    @content;
  }
}
//ワイドスマホ
@mixin md {
  @media only screen and (max-width: ($md)) {
    @content;
  }
}
//スマホ
@mixin sm {
  @media only screen and (max-width: ($sm)) {
    @content;
  }
}
//スマホ
@mixin xs {
  @media only screen and (max-width: ($xs)) {
    @content;
  }
}
//スマホ
@mixin xxs {
  @media only screen and (max-width: ($xxs)) {
    @content;
  }
}

//-------------------------------
//  font-family
//-------------------------------
$font: "Hiragino Sans", ヒラギノ角ゴシック, "Hiragino Kaku Gothic ProN",
  "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", Meiryo, sans-serif;
$josefin: "Josefin Sans", sans-serif;
//-------------------------------
//  color
//-------------------------------
$color-black: #333333;
$color-dark: #575757;
$color-grey: #cccccc;
$color-white: #ffffff;
$color-orange: #ec6a06;
$color-blue: #283ae1;
$color-blue2: #28a7e1;
$color-red: #fe3737;
$color-pink: #e12867;

//-------------------------------
//  font-style mixin
//-------------------------------
@mixin font-style(
  $font-size,
  $font-color,
  $font-weight,
  $line-height,
  $letter-spacing
) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

//-------------------------------
//  ベースのCSS
//-------------------------------
html {
  font-family: $font;
}
body {
  font-family: $font;
  &.fixed {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}
picture {
  display: block;
}
a[href^="tel:"] {
  pointer-events: none;
  @include md {
    pointer-events: auto;
  }
}
